*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: #fffaca;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: #0070f3;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button{
  transition: all 0.2s ease-in-out;
}

button:hover{
  transform: translateY(-1px);
}
