.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fac479;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 10px;
  margin-bottom: 30px;
}

.cell {
  width: 60px;
  height: 60px;
  background: rgb(136, 186, 213);
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.cell:hover {
  background: #788fdb;
}

.switchBtn {
  padding: 12px 25px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.switchBtn:hover {
  background: #555;
}
